:root {
  /** colors */
  --color-name: material;
  --color-bg-shade: #1A1A1A;
  --color-bg-base: #212121;
  --color-bg-surface: #282828;
  --color-bg-highlight: #2E2E2E;
  --color-fg-shade: #949494;
  --color-fg-base: #B9B9B9;
  --color-fg-surface: #DEDEDE;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #265828;
  --color-primary-base: #4CAF50;
  --color-primary-fg: #A2D7A4;
  --color-secondary-bg: #56235F;
  --color-secondary-base: #AB47BC;
  --color-secondary-fg: #D6A6DF;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: CaskaydiaCove NFM;
  --font-size: 1;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1000px;
  --surface-shadow: 12px 12px 0px rgb(38, 88, 40), 24px 24px 0px rgb(50, 74.75, 53.75), 36px 36px 0px rgb(62, 61.5, 67.5), 48px 48px 0px rgb(74, 48.25, 81.25), 60px 60px 0px rgb(86, 35, 95);
  --surface-borderRadius: 0px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 3;
}
