custom_color_contrast 0.3
custom_background_color 0.16 0.16 0.16
custom_text_color 0.98 0.93 0.78
search_highlight_color 0.49 0.76 0.43
status_bar_color 0.17 0.17 0.17
status_bar_text_color 0.98 0.93 0.78
page_separator_color 0.16 0.16 0.16
page_separator_width 12
startup_commands toggle_custom_color
# font
ui_font_family "CaskaydiaCove NFM"
ui_font_size 11
main_text_font "CaskaydiaCove NFM Regular"
main_text_font_size 11
status_bar_font "CaskaydiaCove NFM Regular"
status_bar_font_size 11
#binds
search_url_a https://libgen.vg/index.php?req=
