ui_font CaskaydiaCove NF

# Catppuccin Macchiato

custom_background_color #24273a
custom_text_color #cad3f5

page_separator_color #363a4f
search_highlight_color #f5a97f
status_bar_color #363a4f
status_bar_text_color #cad3f5
ui_text_color #cad3f5
ui_selected_text_color #24273a
ui_background_color #494d64
ui_selected_background_color #8aadf4
background_color #24273a

visual_mark_color 0.54117647 0.58823529 0.83921569 0.2
text_highlight_color #6e7191
link_highlight_color #8aadf4
synctex_highlight_color #ed8796

# window
single_main_window_size    1906 1035
single_main_window_move     7 38
super_fast_search 1

# accents mapped to Catppuccin palette
highlight_color_a #ed8796
highlight_color_b #a6da95
highlight_color_c #f5a97f
highlight_color_d #8aadf4
highlight_color_e #c6a0f6
highlight_color_f #8bd5ca
highlight_color_g #fab387
highlight_color_h #7c7f93

highlight_color_i #ed8796
highlight_color_j #a6da95
highlight_color_k #f5a97f
highlight_color_l #8aadf4
highlight_color_m #c6a0f6
highlight_color_n #8bd5ca
highlight_color_o #fab387
highlight_color_p #7c7f93

highlight_color_q #ed8796
highlight_color_r #a6da95
highlight_color_s #f5a97f
highlight_color_t #8aadf4
highlight_color_u #c6a0f6
highlight_color_v #8bd5ca
highlight_color_w #fab387
highlight_color_x #7c7f93

highlight_color_y #ed8796
highlight_color_z #a6da95

custom_color_mode_empty_background_color #24273a

# ==================== STARTUP COMMAND ====================
startup_commands toggle_custom_color