
* {
    background-color: #1e1e2e !important;
    color: #cdd6f4 !important;
	border-radius: 0px !important;
	font-family: "Iosevka Nerd Font Mono" !important;
}
a {
    color: #f5c2e7 !important;
}
a:visited {
    color: #f5c2e7 !important;
}
input, textarea, select, button {
    background-color: #181825 !important;
    color: #cdd6f4 !important;
    border-color: #313244 !important;
}
::selection {
    background-color: #f5c2e7 !important;
    color: #1e1e2e !important;
}
