
* {
    background-color: #282828 !important;
    color: #fbf1c7 !important;
	border-radius: 0px !important;
	font-family: "Iosevka Nerd Font Mono" !important;
}
a {
    color: #b8bb26 !important;
}
a:visited {
    color: #d3869b !important;
}
input, textarea, select, button {
    background-color: #3c3836 !important;
    color: #fbf1c7 !important;
    border-color: #504945 !important;
}
::selection {
    background-color: #b8bb26 !important;
    color: #282828 !important;
}
