
:root {
    color-scheme: dark;
}
* {
    font-family: "Iosevka Nerd Font Mono" !important;
    border-radius: 0px !important;
    background-color: #272e33 !important;
    color: #d3c6aa !important;
}

html,
body {
    background: #272e33 !important;
    color: #d3c6aa !important;
    font-family: "Iosevka Nerd Font Mono";
}

/* text */
p,
span,
li,
td,
th {
    color: #c5b9a1;
}

h1,h2,h3,h4,h5,h6 {
    color: #a7c080;
}

/* links */
a {
    color: #a7c080 !important;
}

a:visited {
    color: #d699b6 !important;
}

/* forms */
input,
textarea,
select,
button {
    background: #232a2e !important;
    color: #d3c6aa !important;
    border: 1px solid #374145 !important;
}

/* code */
pre,
code {
    background: #232a2e !important;
}

pre {
    padding: 1em !important;
    overflow-x: auto !important;
}

/* selection */
::selection {
    background: #a7c080 !important;
    color: #272e33 !important;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #272e33;
}

::-webkit-scrollbar-thumb {
    background: #374145;
}
