ui_font CaskaydiaCove NF
# Gruvbox Dark Medium

custom_background_color #282828
custom_text_color #ebdbb2

page_separator_color #3c3836
search_highlight_color #d79921

status_bar_color #282828
status_bar_text_color #fbf1c7

ui_text_color #ebdbb2
ui_selected_text_color #fbf1c7

ui_background_color #3c3836
ui_selected_background_color #504945

background_color #282828

visual_mark_color 0.31372549 0.28627451 0.26666667 0.2
text_highlight_color #504945
link_highlight_color #458588
synctex_highlight_color #cc241d

# window
single_main_window_size    1906 1035
single_main_window_move     7 38
super_fast_search 1

highlight_color_a #fb4934
highlight_color_b #b8bb26
highlight_color_c #fabd2f
highlight_color_d #83a598
highlight_color_e #d3869b
highlight_color_f #8ec07c
highlight_color_g #fe8019
highlight_color_h #928374

highlight_color_i #cc241d
highlight_color_j #98971a
highlight_color_k #d79921
highlight_color_l #458588
highlight_color_m #b16286
highlight_color_n #689d6a
highlight_color_o #d65d0e
highlight_color_p #7c6f64

highlight_color_q #fb4934
highlight_color_r #b8bb26
highlight_color_s #fabd2f
highlight_color_t #83a598
highlight_color_u #d3869b
highlight_color_v #8ec07c
highlight_color_w #fe8019
highlight_color_x #928374

highlight_color_y #fb4934
highlight_color_z #b8bb26

custom_color_mode_empty_background_color #282828

# ==================== STARTUP COMMAND ====================
startup_commands toggle_custom_color
