ui_font CaskaydiaCove NF
# Everforest Dark Hard scheme
# Palette: https://everforest.vercel.app/palette

custom_background_color #272e33
custom_text_color #d3c6aa

page_separator_color #2e383c
search_highlight_color #dbbc7f
status_bar_color #2e383c
status_bar_text_color #d3c6aa
ui_text_color #d3c6aa
ui_selected_text_color #d3c6aa
ui_background_color #374145
ui_selected_background_color #445055
background_color #2e383c

visual_mark_color 0.27058824 0.31372549 0.33333333 0.2
text_highlight_color #445055
link_highlight_color #7fbbb3
synctex_highlight_color #e67e80

# window
single_main_window_size    1906 1035
single_main_window_move     7 38
super_fast_search 1

highlight_color_a #e67e80
highlight_color_b #a7c080
highlight_color_c #dbbc7f
highlight_color_d #7fbbb3
highlight_color_e #d699b6
highlight_color_f #83c092
highlight_color_g #e69875
highlight_color_h #7a8478
highlight_color_i #e67e80
highlight_color_j #a7c080
highlight_color_k #dbbc7f
highlight_color_l #7fbbb3
highlight_color_m #d699b6
highlight_color_n #83c092
highlight_color_o #e69875
highlight_color_p #7a8478
highlight_color_q #e67e80
highlight_color_r #a7c080
highlight_color_s #dbbc7f
highlight_color_t #7fbbb3
highlight_color_u #d699b6
highlight_color_v #83c092
highlight_color_w #e69875
highlight_color_x #7a8478
highlight_color_y #e67e80
highlight_color_z #a7c080

custom_color_mode_empty_background_color #272e33

# ==================== STARTUP COMMAND ====================
startup_commands toggle_custom_color
